<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <template id="vueTemplate">
      <div @click="handClick">
        <p>i am p</p>
        <div v-for="(item, index) in nums">hello ! {{item}}</div>
      </div>
      <!-- <div>
        <div v-if="show"></div>
        <div v-show="showDiv">show div</div>
      </div> -->
      <!-- <div v-for="(item, index) in nums">hello ! {{item}}</div> -->
    </template>
    <script type="module"></script>
    <script>
      const app = new Vue({
        template: "#vueTemplate",
        el: "#app",
        data() {
          return {
            nums: [1, 3, 5, 6],
            show: false,
            showDiv: true,
          };
        },
        mounted() {
          console.log(this.$options);
        },
        methods: {
          handClick(e) {
            console.log(e);
          },
        },
      });
      console.log(app, "----");
    </script>
  </body>
</html>
